
  .outerDiv{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 3rem;
    padding: 4rem;
  }

 
.aa{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #0adee9;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.aa:hover{
  background: #0adee9;
  color: #050801;
  box-shadow: 0 0 5px #0adee9,
              0 0 25px #0adee9,
              0 0 50px #0adee9,
              0 0 200px #0adee9;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.aa:nth-child(1){
  filter: hue-rotate(270deg);
}
.aa:nth-child(2){
  filter: hue-rotate(110deg);
}
.aa span{
  position: absolute;
  display: block;
}
.aa span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#0adee9);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.aa span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#0adee9);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.aa span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#0adee9);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.aa span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#0adee9);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

.attractText{
  font-family: 'Dancing Script', cursive;

text-align: center;
/* letter-spacing: 0.2rem; */
word-spacing: 0.5rem;
margin: 2rem 0 0.5rem 0;
color: white;
font-size: 3rem;
font-weight: 500;
text-shadow: 0.5rem 0.5rem 0.5rem rgba(21, 2, 2, 0.4);
}

.rightside {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
}

.rightside img {
  width: 100%;
  height: 110%;
}